<template>
  <div class="about-page flex justify-center mt-4">
    <div class="about-box w-10/12">
      <div class="about-box__head">
        <h1 class="text-4xl font-bold text-gray-600">درباره من</h1>
      </div>
      <div class="about-box__content mt-7 flex">
        <div class="about-box__right w-full md:w-10/12 xl:w-8/12">
          <p class="text-gray-500 text-justify">
            سلام! به سایت من خوش آمدید... من برنامه نویس فرانت اند هستم. پروسه ی
            یادگیری رو از 2 سال پیش شروع کردم و در کنار فرانت اند، به یادگیری
            وردپرس و انجام پروژه های وردپرسی فروشگاهی و شرکتی مشغول شدم. به
            یادگیری چیزهای جدید علاقه زیادی دارم و از انجام پروژه های فرانت اند
            لذت می برم. از بین فریمورک های جاوا اسکریپت با vuejs کار میکنم و در
            اکثر پروژه ها از vue-cli/vue-router استفاده می کنم.
          </p>
          <ul class="flex flex-col gap-y-4 mt-7">
            <li
              v-for="(item, index) in items"
              :key="index"
              class="flex text-gray-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="#a855f7"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M5 13l4 4L19 7"
                />
              </svg>
              {{ item }}
            </li>
          </ul>
        </div>
        <div class="about-box__left"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        "دانشجوی مهندسی کامپیوتر",
        "Junior frontend developer",
        "ساکن مشهد",
        "علاقه مند به انجام کار های گروهی",
        "دارای تجربه کار تیمی",
        " تجربه کار با سیستم های مدیریت پروژه مانند github & gitlab (کار باissues و merge requests)",
      ],
    };
  },
};
</script>

<style scoped>
h1 {
  position: relative;
  display: inline-block;
}
h1::after {
  content: "";
  width: 20px;
  height: 5px;
  background-color: rgb(139 92 246 / 1);
  position: absolute;
  top: 21px;
  left: -31px;
}
li {
  font-family: vazir;
}
</style>