<template>
  <div class="contact-page flex justify-center mt-4">
    <div class="contact-box w-10/12">
      <div class="contact-box__head">
        <h1 class="text-4xl font-bold text-gray-600">راه های ارتباطی من</h1>
      </div>
      <div class="contact-box__content mt-7 flex flex-col gap-y-6">
        <div
          class="contact-box__item"
          v-for="(item, index) in contactItems"
          :key="index"
        >
          <div class="contact-box__title">
            <h2 class="text-purple-600 text-lg">{{ item.key }}</h2>
          </div>
          <div class="contact-box__value">
            <a
              class="text-gray-400"
              :href="item.value"
              target="_blank"
              rel="noopener noreferrer"
              >{{ item.value }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      contactItems: [
        { key: "ایمیل:", value: "mebahare.ghaemi@gmail.com" },
        {
          key: "لینکدین:",
          value: "https://www.linkedin.com/in/bahare-ghaemi-ba22a8256/",
        },
        { key: "گیت لب:", value: "https://gitlab.com/Bahare_Ghaemi/" },
        { key: "گیت هاب:", value: "https://github.com/Bahare-Ghaemi" },
      ],
    };
  },
};
</script>

<style scoped>
h1 {
  position: relative;
  display: inline-block;
}
h1::after {
  content: "";
  width: 20px;
  height: 5px;
  background-color: rgb(139 92 246 / 1);
  position: absolute;
  top: 21px;
  left: -31px;
}
li {
  font-family: vazir;
}
</style>