<template>
  <div
    class="
      diplomas-boxs
      w-10/12
      lg:w-11/12
      flex
      gap-y-8
      sm:grid sm:grid-cols-2 sm:gap-5
      xl:grid-cols-3
      flex-wrap
      mt-11
    "
  >
    <div
      v-for="(diploma, index) in diplomas"
      :key="index"
      class="diploma-box flex justify-center w-full"
    >
      <div
        class="
          relative
          bg-white
          rounded-xl
          flex flex-col
          justify-center
          items-center
          overflow-hidden
          bg-no-repeat bg-cover
          max-w-xs
        "
      >
        <a
          :href="diploma.link"
          target="_blank"
          class="diploma-box__image flex flex-col items-center relative"
        >
          <img
            @mouseover="imageHovered(diploma)"
            @mouseleave="imageExited(diploma)"
            :src="diploma.poster"
            class="
              p-4
              max-w-xs
              hover:scale-105
              transition
              duration-300
              ease-in-out
              rounded-3xl
              cursor-pointer
            "
            alt="Roshdana_course"
          />
          <button>
            <a
              v-if="diploma.showBtn"
              href="https://google.com/"
              target="_blank"
              class="bg-green-400 py-2 px-5 absolute rounded-lg text-white"
              >مشاهده مدرک</a
            >
          </button>
        </a>
        <h3 class="text-gray-400 w-10/12 text-center mb-1">
          {{ diploma.title }}
        </h3>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      diplomas: [
        {
          title: "گواهی ترم اول دوره متخصص طراحی سایت موسسه رشدانا",
          poster: require("@/assets/images/roshdana1.jpg"),
          link: "https://photos.app.goo.gl/ZXdkXRpQt2UAyMN79",
          showBtn: false,
        },
        {
          title: "گواهی ترم دوم دوره متخصص طراحی سایت موسسه رشدانا",
          poster: require("@/assets/images/roshdana2.jpg"),
          link: "https://photos.app.goo.gl/joeyuGdHDwgXWpyP8",
          showBtn: false,
        },
      ],
    };
  },
  methods: {
    imageHovered(diploma) {
      diploma.showBtn = true;
    },
    imageExited(diploma) {
      diploma.showBtn = false;
    },
  },
};
</script>

<style scoped>
a {
  font-family: vazir;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.diploma-box__image a {
  -webkit-animation: fadeIn .7s;
  animation: fadeIn .7s;
  top: 45%;
  left: 30%;
}
</style>