<template>
  <div class="home-page flex justify-center items-center">
    <div
      class="
        home
        w-10/12
        flex flex-col
        sm:flex-row
        justify-center
        items-center
        gap-y-10
        gap-x-12
        md:gap-x-0
      "
    >
      <div class="home__contant text-left">
        <h1 class="text-6xl xs:text-5xl md:text-5xl xl:text-6xl text-center sm:text-end font-bold text-white">Bahare Ghaemi</h1>
        <p class="text-2xl text-center sm:text-end text-white mt-3">Frontend Developer</p>
      </div>
      <div class="home__img flex justify-center items-center w-10/12">
        <img src="../assets/images/1-1.png" alt="" />
      </div>
    </div>
    <!-- <div class="cover"></div> -->
  </div>
</template>

<script>
export default {
  name: "HomeView",
  components: {},
};
</script>


<style scoped>
@media only screen and (max-width: 480px) {
  .home{
    height: 78%;
  }
}
@media only screen and (min-width: 330px) {
  .home{
    top: 100px;
  }
}
@media only screen and (min-width: 390px) {
  .home__img img{
    width: 80%;
  }
}
@media only screen and (min-width: 480px) {
  .home{
    top: 120px;
  }
}
@media only screen and (min-width: 590px) {
  .home__img img{
    width: 70%;
  }
}
@media only screen and (min-width: 640px) {
  .home{
    top: 35%;
  }
}
@media only screen and (min-width: 768px) {
  .home{
    top: 28%;
  }
  .home__img {
    width: 60%;
    display: flex;
    justify-content: end;
  }
}
@media only screen and (min-width: 990px) {
  .home{
    top: 25%;
  }
  .home__img {
    width: 60%;
    display: flex;
    justify-content: end;
  }
}
@media only screen and (min-width: 1130px) {
  .home{
    top: 25%;
  }
  .home__img {
    width: 50%;
    display: flex;
    justify-content: end;
  }
}
.home-page {
  background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
  background-size: cover;
  position: relative;
  height: 100%;
}
.home {
  /* height: 100%; */
  z-index: 10;
  position: absolute;
}
h1{
  line-height: 71px;
}
</style>
