<template>
  <div class="projects-page flex justify-center mt-11 pb-5">
    <div
      class="
        project-boxs
        w-10/12
        lg:w-11/12
        flex 
        gap-y-8
        sm:grid sm:grid-cols-2 sm:gap-5
        xl:grid-cols-3
        flex-wrap
      "
    >
      <div
        v-for="project in projects"
        :key="project.name"
        class="project-box flex justify-center w-full"
      >
        <div
          class="
            relative
            bg-white
            rounded-xl
            flex flex-col
            justify-center
            items-center
            overflow-hidden
            bg-no-repeat bg-cover
            max-w-xs
          "
        >
          <img
            @click="projectClicked(project)"
            :src="project.src"
            class="
              p-4
              max-w-xs
              hover:scale-105
              transition
              duration-300
              ease-in-out
              rounded-3xl
              cursor-pointer
            "
            alt="Louvre"
          />
          <h3 class="text-gray-400 mb-1">{{ project.name }}</h3>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import projects from "../data/projects.js";

export default {
  data() {
    return {
      projects,
      modalIsOpen: false,
    };
  },
  methods: {
    projectClicked(project) {
      this.modalIsOpen = true;
      this.$emit("modalIsOpen", this.modalIsOpen);
      this.$emit("clickedProject", project);
    },
  },
};
</script>

<style scoped>
.projects-page {
  height: 96%;
}
.project-boxs {
  overflow-y: auto;
}
</style>