<template>
  <div class="skills-page flex justify-center mt-10 mb-8">
    <div class="skills-box w-9/12 sm:w-full">
      <div class="skills-box__head">
        <!-- <h1 class="text-3xl font-bold text-gray-400">مهارت های من</h1> -->
      </div>
      <div class="skills-box__content">
        <div class="skills-box__content--softwares">
          <div
            class="
              skills-box__content--softwares-line
              w-10/12
              flex flex-wrap
              gap-x-12 gap-y-1
              mx-auto
            "
          >
            <SkillBox
              v-for="skill in skills"
              :key="skill.title"
              :skill="skill"
            />
          </div>
          <div
            class="
              skills-box__content--softwares-circle
              w-full
              md:w-6/12
              mt-10
              flex
              justify-between
              mx-auto
            "
          >
            <div
              class="radial-progress text-green-600"
              style="--value: 55; --size: 6rem"
            >
              English
            </div>
            <div
              class="radial-progress text-orange-600"
              style="--value: 70; --size: 6rem"
            >
              Power Point
            </div>
            <div
              class="radial-progress text-blue-600"
              style="--value: 80; --size: 6rem"
            >
              Word
            </div>
          </div>
        </div>

        <div class="skills-box__content--softskills"></div>
      </div>
    </div>
  </div>
</template>

<script>
import SkillBox from "../components/SkillBox.vue";
import skills from "../data/skills.js";

export default {
  data() {
    return {
      skills,
    };
  },
  components: {
    SkillBox,
  },
};
</script>

<style scoped>
.skills-page {
  /* margin-top: 70px; */
}
@media only screen and (min-width: 768px) {
  .skills-box__content {
    height: 550px;
    overflow-y: auto;
  }
}
</style>