<template>
  <header
    :style="$route.name === 'HomeView' ? 'position: absolute' : ''"
    class="header py-4 md:px-6 flex justify-center"
  >
    <div class="header-box w-full flex justify-between">
      <div
        @click="menuClosed = !menuClosed"
        class="header-box__hamburger cursor-pointer md:hidden"
      >
        <div
          @click="showNavMob = !showNavMob"
          class="header-box__hamburger-icon"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-7 w-7"
            fill="none"
            viewBox="0 0 24 24"
            :stroke="$route.name === 'HomeView' ? 'white' : '#9ca3af'"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </div>
        <div
          v-if="showNavMob"
          class="
            header-box__hamburger-content
            bg-white
            py-3
            px-4
            rounded-lg
            shadow-xl
            absolute
          "
        >
          <nav>
            <ul class="flex flex-col gap-y-3">
              <li v-for="(item,index) in items" :key="index">
                <router-link class="text-violet-500" :to="{ name: item.ref }"
                  >{{item.text}}</router-link
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="header-box__gadjets">
        <a
          href="https://gitlab.com/Bahare_Ghaemi/"
          target="_blank"
          class="header-box__profile"
        >
          <div class="header-box__img">
            <img
              src="../assets/images/me.jpg"
              class="rounded-full"
              width="40px"
              alt="bahare ghaemi"
            />
          </div>
          <div class="header-box__status"></div>
        </a>
      </div>
    </div>
  </header>
</template>

<script>
import { watch } from "vue";
export default {
  data() {
    return {
      menuClosed: false,
      showNavMob: false,
      items: [
        { text: "خانه", ref: "HomeView" },
        { text: "مهارت ها", ref: "SkillsView" },
        { text: "پروژه ها", ref: "ProjectsView" },
        { text: "درباره من", ref: "AboutView" },
        { text: "تماس با من", ref: "ContactView" }
      ],
    };
  },
  watch: {
    menuClosed(value) {
      this.$emit("menuStatus", value);
    },
  },
};
</script>

<style scoped>
ul li {
  font-family: vazir;
}
.header {
  z-index: 20;
  width: 83.3%;
}
.header-box__hamburger {
  transition: ease-in-out 0.4s;
  border-radius: 50%;
  padding: 6px;
}
.header-box__profile {
  position: relative;
}
.header-box__status {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: green;
  bottom: -3px;
  right: -2px;
}
</style>