<template>
  <div
    class="
      project-modal
      bg-white
      py-5
      px-7
      w-11/12
      lg:w-5/12
      rounded-2xl
      flex flex-col
      gap-y-4
      relative
    "
  >
    <div
      class="
        project-modal__close
        flex
        justify-end
        cursor-pointer
        absolute
        left-5
      "
    >
      <svg
        @click="closeClicked"
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 hover:bg-red-500 hover:text-white rounded duration-300"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </div>
    <div class="project-modal__title">
      <p class="text-gray-400">نام پروژه</p>
      <h2 class="font-bold text-xl mt-2">{{ project.name }}</h2>
    </div>
    <div class="project-modal__description">
      <p class="text-gray-400">توضیحات</p>
      <p class="text-justify mt-1">{{ project.description }}</p>
    </div>
    <div class="project-modal__links">
      <p class="text-gray-400">لینک ها</p>
      <div
        class="
          project-modal__buttons
          flex flex-col
          text-center
          gap-y-3
          sm:flex-row
          gap-x-5
          mt-3
        "
      >
        <a
          :href="project.links[0]"
          target="blank"
          class="
            border-2
            text-violet-500
            border-violet-500
            px-3
            py-1
            rounded-lg
            hover:text-white hover:bg-violet-500
            duration-300
            ease-in-out
            cursor-pointer
          "
        >
          مشاهده دموی وبسایت
        </a>
        <a
          :href="project.links[1]"
          target="blank"
          class="
            border-2
            text-violet-500
            border-violet-500
            px-3
            py-1
            rounded-lg
            hover:text-white hover:bg-violet-500
            duration-300
            ease-in-out
          "
        >
          مشاهده سورس کد وبسایت
        </a>
      </div>
    </div>
    <div class="project-modal__tools">
      <p class="text-gray-400 mb-3">ابزار</p>
      <div class="project-modal__images flex flex-wrap gap-4">
        <img
          width="55px"
          v-for="img in project.tools"
          :key="img.name"
          :src="img.src"
          alt=""
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["project"],
  methods: {
    closeClicked() {
      this.$emit("closeModalFunc", false);
    },
  },
};
</script>

<style scoped>
a {
  font-family: vazir;
}
.project-modal {
  z-index: 50;
}
.project-modal__images img {
  height: 64px;
}
@media only screen and (max-width: 480px) {
  .project-modal {
    height: 400px;
    overflow-y: auto;
  }
}
</style>