<template>
  <div class="sidebar-box w-11/12 mt-6">
    <nav>
      <ul class="flex flex-col gap-y-4">
        <li v-for="(item, index) in listItems" :key="index">
          <router-link
            class="flex items-center p-2 rounded-l-full pr-5"
            :class="item.bgColor"
            :to="{ name: item.routeName }"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              :stroke="item.iconColor"
              stroke-width="2"
            >
              <path
                v-for="(iconSrc, index) in item.iconSrcs"
                :key="index"
                stroke-linecap="round"
                stroke-linejoin="round"
                :d="iconSrc"
              />
            </svg>
            <span
              class="mr-2 hidden md:block md:text-sm lg:text-lg"
              :class="item.txtColor"
              >{{ item.title }}</span
            >
          </router-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  data() {
    return {
      listItems: [
        {
          title: "خانه",
          routeName: "HomeView",
          iconSrcs: [
            "M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z",
          ],
          bgColor: "bg-indigo-50",
          txtColor: "text-indigo-400",
          iconColor: '#818cf8'
        },
        {
          title: "مهارت ها",
          routeName: "SkillsView",
          iconSrcs: [
            "M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z",
            "M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z",
          ],
          bgColor: "bg-orange-50",
          txtColor: "text-orange-400",
          iconColor: '#fb923c'
        },
        {
          title: "پروژه",
          routeName: "ProjectsView",
          iconSrcs: [
            "M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z",
          ],
          bgColor: "bg-cyan-50",
          txtColor: "text-cyan-400",
          iconColor: '#22d3ee'
        },
        {
          title: "مدارک",
          routeName: "DiplomasView",
          iconSrcs: [
            "M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5",
          ],
          bgColor: "bg-green-50",
          txtColor: "text-green-400",
          iconColor: '#4ade80'
        },
        {
          title: "درباره من",
          routeName: "AboutView",
          iconSrcs: [
            "M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z",
          ],
          bgColor: "bg-purple-50",
          txtColor: "text-purple-400",
          iconColor: '#c084fc'
        },
        {
          title: "اطلاعات تماس",
          routeName: "ContactView",
          iconSrcs: [
            "M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z",
          ],
          bgColor: "bg-pink-50",
          txtColor: "text-pink-400",
          iconColor: '#f472b6'
        },
      ],
    };
  },
};
</script>

<style scoped>
svg {
  transition: ease-in-out 0.3s;
}
li:hover svg {
  transform: scale(0.85);
}
</style>