<template>
  <div class="skill-box w-full sm:w-5/12 lg:w-3/12">
    <div class="relative pt-1">
      <div class="flex mb-2 items-center justify-between">
        <div>
          <span
            class="
              text-xs
              font-semibold
              inline-block
              py-1
              px-2
              uppercase
              rounded-full
            "
            :style="`color: ${skill.bgDark};background-color: ${skill.bgLight}`"
          >
            {{ skill.title }}
          </span>
        </div>
        <div class="text-right">
          <span class="text-xs font-semibold inline-block" :style="`color: ${skill.bgDark}`">
            {{ skill.value }}
          </span>
        </div>
      </div>
      <div
        class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-gray-200"
        
      >
        <div
          :style="`width: ${skill.value};background-color: ${skill.bgDark}`"
          class="
            shadow-none
            flex flex-col
            text-center
            whitespace-nowrap
            text-white
            justify-center
          "
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["skill"],
};
</script>

<style>
</style>