<template>
  <div id="app" class="flex">
    <!-- sidebar -->
    <div class="sidebar hidden md:block bg-white">
      <SideBarMenu />
    </div>
    <!-- content -->
    <div class="content flex flex-col items-center">
      <div v-if="coverStatus" class="cover flex justify-center items-center">
        <ProjectModal
          :project="projectClicked"
          @closeModalFunc="closeModalFunct($event)"
        />
      </div>
      <Header
        :style="$route.name === 'HomeView' ? 'width: 83%' : 'width: 97.2%'"
        @menuStatus="showMenuStatus($event)"
      />
      <main
        :style="
          $route.name === 'HomeView'
            ? 'height: 100%'
            : $route.name === 'ProjectsView'
            ? 'height: 83%'
            : ''
        "
      >
        <router-view
          @clickedProject="showClickedProject($event)"
          @modalIsOpen="showModalStatus($event)"
          :class="menuIsOpen ? 'is-closed ' : ''"
        />
      </main>
    </div>
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import SideBarMenu from "./components/SideBarMenu.vue";
import ProjectModal from "./components/ProjectModal.vue";

export default {
  data() {
    return {
      menuIsOpen: null,
      path: this.$route.name,
      coverStatus: false,
      projectClicked: {},
    };
  },
  components: {
    Header,
    SideBarMenu,
    ProjectModal,
  },
  methods: {
    showMenuStatus($event) {
      this.menuIsOpen = $event;
    },
    showModalStatus($event) {
      this.coverStatus = $event;
    },
    showClickedProject($event) {
      this.projectClicked = $event;
    },
    closeModalFunct($event) {
      this.coverStatus = $event;
    },
  },
};
</script>

<style>
@font-face {
  font-family: vazir;
  src: url(../src/assets/fonts/Vazir.woff);
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
p,
span {
  font-family: vazir;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: #2c3e50; */
  height: 100%;
}
.sidebar {
  width: 14.66%;
  transition: 0.7s;
}
.sidebar-closed {
  width: 9.66%;
}
.content {
  width: 85.33%;
}
@media only screen and (max-width: 768px) {
  .content {
    width: 100%;
  }
}
main {
  background-color: #f5f5fb;
  width: 100%;
}
/* .is-closed {
  transform: translateX(5em);
} */
.cover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.399);
  height: 100%;
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  .cover{
    width: 85.3%;
  }
}

</style>
